@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Lista de Horarios";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}



@model List<dynamic>

<h3>Lista de Reservas</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Ruta</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.IdReserva</td>
                <td>@r.Cliente</td>
                <td>@r.Ruta</td>
                <td>@r.Fecha</td>
                <td>S/. @r.Total</td>
                <td>@r.Estado</td>
            </tr>
        }
    </tbody>
</table>
